{% block header %}
<div class="w-full font-semibold font-serif  ">
  <nav class="flex flex-row items-center justify-center p-6 text-[#252A34] ">
    
    {% if request.resolver_match.url_name != "home" %}
      <a href="{% url 'home' %}" class="mx-4 hover:text-[#FF2E63] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#FF2E63] active:focus:ring-[#FF2E63]">
        Home
      </a>
    {% endif %}
    

    
    <a href="{% url 'projects' %}" 
      class="mx-4 hover:text-[#FF2E63] focus:outline-none focus-visible:ring focus:ring-2 focus:ring-offset-2 focus:ring-[#FF2E63] active:focus:ring-[#FF2E63] aria-[current=page]:text-[#FF2E63]"
      aria-current="{% if request.resolver_match.url_name == 'projects' %}page{% endif %}">
      Projects
    </a>

     

    <a href="{% url 'about' %}" class="mx-4 hover:text-[#FF2E63] focus:outline-none focus-visible:ring focus:ring-2 focus:ring-offset-2 focus:ring-[#FF2E63] active:focus:ring-[#FF2E63] aria-[current=page]:text-red-400"
       aria-current="{% if request.resolver_match.url_name == 'about' %}page{% endif %}">
      About
    </a>

    
    {% comment %} <a href="{% url 'contact' %}" class="mx-4 hover:text-lime-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-400 active:focus:ring-red-400">
      Contact
    </a> {% endcomment %}
  </nav>
</div>
{% endblock %}
