{% load static %}
{% load static tailwind_tags %}

{% block head %}
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

{% endblock %}



{% block content %}



<section class="mt-12 mx-2 p-2 text-[#252A34] mb-10">
  <div class="container mt-2 mx-auto font-serif ">
    <h2 class="text-3xl lg:text-5xl font-bold text-left lg:mb-10">My Projects</h2>
    <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        
      <!-- Project Card -->
      <div class=" rounded-lg shadow-md overflow-hidden transform hover:scale-105 transition duration-300">
        <img src="{% static 'images/project1.png' %}" alt="Project One" class="w-full h-48 object-fill">
        <div class="p-6">
          <h3 class="text-2xl font-semibold underline decoration-cyan-400">Beginner Level</h3>
          <p class=" my-8 ">
            A simple Weather Reporting web app.
          </p>
          <a href="https://weather-python-project.onrender.com/" target="_blank" rel="noopener noreferrer" 
              class="inline-block bg-[#252A34]  text-white px-4 py-2 rounded hover:bg-cyan-400 transition duration-300">
              Explore
          </a>
        </div>
      </div>
      <!-- Project Card -->
      <div class="rounded-lg shadow-md overflow-hidden transform hover:scale-105 transition duration-300 ">
        <img src="{% static 'images/project2.png' %}" alt="Project Two" class="w-full h-48 object-fill">
        <div class="p-6">
          <h3 class="text-2xl font-semibold underline decoration-[#FF2E63]"> Intermediate Level </h3>
          <p class=" my-8">
            A dynamic project that visualize statistical data in forms of graphs and charts with a focus on user experience.
          </p>
          <a href="" class="inline-block bg-[#252A34]  text-white px-4 py-2 rounded hover:bg-[#FF2E63] transition duration-300">
            Explore
          </a>
        </div>
      </div>
      
      <div class=" rounded-lg shadow-md overflow-hidden transform hover:scale-105 transition duration-300">
        <img src="{% static 'images/project3.png' %}" alt="Project Three" class="w-full h-48 object-fill">
        <div class="p-6">
          <h3 class="text-2xl font-semibold underline decoration-cyan-400 ">Advanced Level</h3>
          <p class=" my-8">
            An innovative solution that blends technology and design for a seamless experience.
          </p>
          <a href="" class="inline-block bg-[#252A34]  text-white px-4 py-2 rounded hover:bg-cyan-400 transition duration-300">
            Explore
          </a>

          
        </div>
      </div>
    </div>
  </div>
  


</section>

{% endblock %}